<div class="container">
    <div class="row-1"  >
        <h1 style="font-size: 20px;padding-left: 50px;" class="admin">Admin Page</h1>
        <button  routerLink="../admin" style="float:right;color:blue;" type="button" id="Addproduct" class="product">Add Product</button>
        <button  routerLink="../view" style="float:right;color:blue;" type="button" id="Addproduct" class="product">View Products</button>
        <button  routerLink="/products"style="float:right;color:blue;" type="button" id="Addproduct" class="product">Home</button>

    </div>
    <div class="row-2"> </div>
    </div>